<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <title>회원가입</title>

        <!-- 부트스트랩 코어 CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/jasny-bootstrap.css') }}" rel="stylesheet">
        <!-- 커스텀 스타일 : 이파일을 수정하세요. -->
        <link href="{{ url_for('static', filename='css/custom-register.css') }}" rel="stylesheet">

    </head>
    <body>

        <div class="container">

            <form class="form-register" action = "/register" method = "post" enctype="multipart/form-data">
                <h3 class ="form-register-heading">회원가입</h3>
                <input type="text" name="name" class="form-control" placeholder="이름">
                <input type="text" name="email" class="form-control" placeholder="이메일" autofocus>
                <input type="password" name="password" class="form-control" placeholder="비밀번호">
                <input type="password" name="repassword" class="form-control" placeholder="비밀번호 재입력">

                
                <h5 class="control-label">프로필 사진</h5>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                <div>
                    <span class="btn btn-default btn-file">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="image"></span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>
            </form>

        </div>

        <!-- jQuery 필수 -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ url_for('static', filename='js/jasny-bootstrap.min.js') }}"></script>
        <!-- 부트스트랩 코어 자바스크립트 -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
